<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    {% csrf_token %} 
    {% if messages %} 
    {% for message in messages %}

    <div>{{ message }}</div>
    
    {% endfor %}
    {% endif %}
    <form method="post">
      <label>current_password</label>
      <input type="password" name="current_password" /><br />
      <label>new_password</label>
      <input type="password" name="new_password" /><br />
      <label>confirm_password</label>
      <input type="password" name="confirm_password" /><br />
      <input type="submit" value="submit" />
    </form>
  </body>
</html>
