<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body> 
    helloooo
    {% if not request.user.is_authenticated %}
    <button><a href="/register">Register</a></button>
    <button><a href="/login">Login</a></button>
    {% else %}
    {% if request.user.is_superuser %}
    <button><a href="/view_students">View students</a></button>
    {% endif %}
    <button><a href="/logout">Logout</a></button>
    {% endif %}
</body>
</html>