
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Login page</h1>
    <button><a href="/">index</a></button>
    {% if messages %}
    {% for message in messages %}
    <div>
        {{ message }}
        </div>
        {% endfor %}
        {% endif %}
    </div>
    <form method="post">
        {% csrf_token %}
        <label>Username</label>
        <input type="text" name="username"><br>
        <label>Password</label>
        <input type="password" name="password"><br>
        <input type="Submit" value="login">
        <label>forgot password</label>
        <input type="password" name="forgot_password">
        <a href="/forgot_password">Forgot password</a>
    </form>
</body>
</html>