<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Register page</h1>
    <button><a href="/">index</a></button>
    <form method="post">
        {% csrf_token %}
        <label>username</label>
        <input type="text" name="username"><br>
        <label>org_name</label>
        <input type="text" name="org_name"><br>
        <label>org_type</label>
        <input type="text" name="org_type"><br>
        <label>phone_no</label>
        <input type="number" name="phone_no"><br>
        <label>Address</label>
        <input type="text" name="address"><br>
        <label>Website_link</label>
        <input type="text" name="Website_link"><br>
        <label>Password</label>
        <input type="password" name="password"><br>
        <label>Email</label>
        <input type="email" name="email"><br>
        <label>Location</label>
        <input type="text" name="location"><br>
        <button><input type="Submit" value="register"></button>
    </form>
</body>
</html>